@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}

i {
  color: #0074d9;
  transition: all 1s ease-out;
}

i:hover {
  color: #88f288;
}

a:hover i {
  color: #88f288;
}

.full-pic {
  background-image: url(../video/fullscreen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

.title {
  height: 12em;
  padding-top: 1em;
  padding-bottom: 3em;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(0, 0, 0, 0.71);
}

.title h1 {
  font-size: 3em;
}

.fa-bolt {
  margin-left: .5em;
  animation: big 1.3s infinite;
}

.fa-circle-o {}

@keyframes animColor {
  from {
    color: white;
  }
  50% {
    color: yellow;
  }
  to {
    color: white;
  }
}

@keyframes big {
  0% {
    transform: scale(.9);
  }
  20% {
    transform: scale(1.6);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(.9);
  }
}