@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p, blockquote, label {
    font-family: 'Roboto', sans-serif;
}

i {
  color: #0074d9;
  transition: all 1s ease-out;
}

i:hover {
  color: #88f288;
}

a:hover i {
  color: #88f288;
}

.full-pic {
  background-image: url(../video/My_Movie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

.title {
  height: 12em;
  padding-top: 1em;
  padding-bottom: 3em;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(0, 0, 0, 0.71);
}

.title h1 {
  font-size: 3em;
}

body {
    overflow-x: hidden;
}

i.fa.fa-american-sign-language-interpreting {
    position: absolute;
    z-index: 100;
    color: white;
}

footer {
    color: white;
}

@keyframes animColor {
  from {
    color: white;
  }
  50% {
    color: yellow;
  }
  to {
    color: white;
  }
}

@keyframes big {
  0% {
    transform: scale(.9);
  }
  20% {
    transform: scale(1.6);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(.9);
  }
}

@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}

video {
  position: absolute;
  min-width: 100%;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-60%);
  background: url(../img/computer.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.stopfade {
  opacity: .5;
}

@media screen and (max-device-width: 800px) {
  html {
    background: url(../video/fullscreen.png) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}